<!DOCTYPE html>
<html th:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
<h2 class="text-center">Alter booking</h2>
<div class="container">
    <div class="form-group">
        <form th:action="@{/booking/alter/{id}(id=${booking.bookingId})}" th:object="${booking}" method="post">
            <!--            ändra till booking-->

            <p class="text-center" th:if="${error}" th:text="${error}" style="color:red;"></p>
            <p class="text-center" th:if="${error}" th:text="${url}" style="color:red;"></p>

            <p class="text-center" th:text="${success}" style="color:green;"></p>

            <label for="dateFrom">Booking:</label>
            <input type="date" th:field="*{dateFrom}" class="form-control mb-3" />

            <label for="dateUntil">Dates:</label>
            <input type="date" th:field="*{dateUntil}" class="form-control mb-3" />

            <label for="room">Room:</label>
            <input type="room" th:field="*{room}" class="form-control mb-3" />

            <label for="numberOfGuests">Number of guests:</label>
            <input type="number" min="1" max="10" th:field="*{numberOfGuests}" class="form-control mb-3" />


            <button type="submit" class="btn btn-primary">Confirm changes</button>
            <button type="button" onclick="window.location.href='/home';" class="btn btn-primary">Home</button>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
</body>
</html>