<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
        <div class="col-md-6 col-lg-4 mx-auto">
            <h2>Select a Date</h2>

            <form th:action="@{/rooms}" th:object="${availableRooms}" method="post">
                <div class="mb-3">
                    <label for="startDate" class="form-label">From:</label>
                    <input type="date" class="form-control my-2" th:field="*{startDate}" id="startDate">
                    <label for="endDate" class="form-label">To:</label>
                    <input type="date" class="form-control my-2" th:field="*{endDate}" id="endDate">
                    <div class="form-text">Search for available rooms between these dates</div>
                    <label for="guests" class="form-label">Number of guests</label>
                    <select class="form-select" th:field="*{guests}" id="guests">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success">Search</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
</body>
</html>